<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.speakebble" >

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".SpeechReconService" >
        </service>

        <receiver android:name=".PebbleAppLauncherBR">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.speakebble.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <meta-data android:name="PEBBLE_UUID" android:value="07e82802-4ed1-475f-96e0-1f2fcc5e20ab"></meta-data>
    </application>

</manifest>
